<div class="bg-primary d-flex">
  <div class="m-5">
  <h2>Your Daycare: <%= @centre.name %></h2>
    <div class="icon">
      <span class="dot" style="background-color:#393E5B">
        <%= image_tag "icons8-dog-park-100.png", class:"image", alt: "dog image" %>
      </span>
    </div>
  </div>
  <div class="card-container">
      <div class="card w-75">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text"><%=render "form", centre: @centre %></p>
        <img src="https://placedog.net/100/100?random" width="100" height="100">
          </div>
        </div>
      </div>
  </div>
</div>
