
  <ul>
  <% @centres.each do |centre| %>


<div class="card">
  <div class="title"><%= centre.name%></div>
  <div class="features">
    <p><%= centre.location%>
    show_centre_path(centre)

    </p>
  </div><!--/features-->
<%= link_to "Book Now", centre_path(centre) , class:"btn" %>
</div><!--/card-->

  <% end %>
