<div class="text-center"><h1>Add a Daycare</h1></div>

<div class="container py-5">
  <div class="row col-9 m-auto">
    <div class="frame col-7 offset-lg-3 shadow m-auto">
      <div class="rounded p-3 m-auto d-inline-blocks">
        <h3>Add a Daycare</h3>
          <%= render "form", centre: @centre, user_id: current_user.id %>
      </div>
    </div>
  </div>
</div>
